@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Use chrome://browser/content/browser.xul to get IDs etc */

/* Hides the ugly xmarks stars */
#foxmarks-statusbarpanel { display:none!important; }
#status-bar { margin-right:2px; }

/* Toolbar Buttons */
toolbarbutton {
    background: transparent !important;
    -moz-appearance: none !important;
    margin:0px 0px 8px 0px !important;
    padding:1px!important;
}
toolbarbutton > image {
    margin: 0 !important;
    width: 10px !important;
    height: 10px !important;
}
#personal-bookmarks {
    max-width:65px!important;
    min-width:60px!important;
    margin-right: -30px;
}

/* TABS */

#main-window .tabbrowser-tabs .tabbrowser-tab
{
    background:#1c1c1c!important;
    color:rgba(155,155,155,1)!important;
    text-shadow:rgba(0,0,0,.8) 0 0 1px!important;

    margin:0!important;
    font: 11px consolas !important;
    font-weight: normal !important;
    text-align:center!important;
}

/* Deal with Australis */
.tabbrowser-tabs .tab-background {
    margin:0!important;
    background:#1c1c1c!important;
}
.tabbrowser-tabs .tab-background[selected=true] {
    background:#1c1c1c!important;
}
.tabbrowser-tabs .tab-background-start,
.tabbrowser-tabs .tab-background-end {
    display:none!important;
}
/* Making this display: none; causes tabs to not respond to clicks */
.tabbrowser-tabs .tab-background-middle {
    margin:0!important;
    border-style:none!important;
    background:transparent!important;
}

/* Hide the tab seperators */
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
    background-image:none!important;
}

#main-window #tabbrowser-tabs .tabbrowser-tab[selected="true"]
{
    color:rgba(255,255,255,.8)!important;
}
/* Hide the tab icons and throbber */
#main-window #tabbrowser-tabs .tabbrowser-tab .tab-throbber,
#main-window #tabbrowser-tabs .tabbrowser-tab .tab-icon-image
{
    display:none!important;
}
#main-window #tabbrowser-tabs .tabbrowser-tab[fadein]
{
    -moz-transition:all .2s ease-in-out!important;
}
#main-window #tabbrowser-tabs .tabbrowser-tab:not([selected]):hover
{
    color:rgba(255,255,255,.8)!important;
}
#main-window #tabbrowser-tabs .tabbrowser-tab[fadein]:not([pinned])
{
    min-width:50px!important;
    max-width:2000px!important;
}
#TabsToolbar
{
    padding:0px!important;
    margin:0px 0px -5px 0px!important;
    background:#1c1c1c!important;
    -moz-appearance: none !important;
}
