[Unit]
Description=minidlna server

[Service]
Type=forking
ExecStart=minidlnad -f /home/$USER/.config/minidlna/minidlna.conf -P /home/$USER/.config/minidlna/minidlna.pid

[Install]
WantedBy=default.target
