window {
  margin: 0px;
  border: 1px solid #4a4035;
  background-color: #26201a;
}

#input {
  color: #d4c4a8;
  margin: 5px;
  border: none;
  background-color: #26201a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #26201a;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #26201a;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  color: #d4c4a8;
  margin: 5px;
  border: none;
}

#entry:selected {
  background-color: #3a3228;
}
